html {
    width: 200px;
}

button {
    border: none;
    background-color: white;
    height: 50px;
    margin-left: -10px;
}

.fullLength {
    width: 202px;
}

.midLength {
    width: 100px;
}

button:hover {
    cursor: pointer;
    background-color: lightblue;
}

img {
    width: 180px;
}

.blur {
    filter: blur(5px);
}